extends layout

block content
  h3 #{scheduleId}

  .schedule-info
    if schedule.parent
      span
        strong Parent:
        a(href=`/schedule/${schedule.parent}`) #{schedule.parent}
    else
      span
        strong Parent:
        | #[i Root Schedule]
    br

    strong Child:
    span !{'['}
    a(href=`/generate?parent=${schedule.id}`) Generate Schedule
    span !{'] '}
    br

    strong Export: !{' '}
    span !{'['}
    a(href=`/api/schedule/${scheduleId}/export` target="_blank") csv
    span !{'] ['}
    a(href=`/api/schedule/${scheduleId}/export?format=sheets-export` target="_blank") sheets
    span !{']'}
    br

  .schedule-details
    h3 Schedule Details

    table
      tbody
        each i in [0, 1, 2, 3, 4]
          tr
            td #{assignments[i][0]}
            td #{assignments[5 + i][0]}
            td #{assignments[10 + i][0]}
            td #{assignments[15 + i][0]}
            td #{assignments[20 + i][0]}
          tr
            td #{assignments[i][1]}
            td #{assignments[5 + i][1]}
            td #{assignments[10 + i][1]}
            td #{assignments[15 + i][1]}
            td #{assignments[20 + i][1]}
